.wrapper {
  margin: 0 auto;
  padding: 0;

  @media screen and (min-width: $sm) {
    padding: 0;
  }

  &__dark {
    background-color: $color-background;

    @media screen and (min-width: $sm) {
      padding-bottom: 7em;
    }
  }
}

