.top-icons {
  position: relative;
  margin: 2%;
  display: block;

  &__social {
    position: absolute;
    top: 5%;
    width: 5em;
  }

  &__logo {
    position: absolute;
    top: 5%;
    right: 0%;
    width: 6.5em;
  }
}


.banner {
  padding: 0;
  background-color: $color-white;
  margin: 0 4em;

  &__evlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: -9%;
  }

  &__intro {
    padding-bottom: 2em;
    margin: 0 2em;

    h1 {
      color: $color-text;
      font-family: Arvo;
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.4em;
      text-align: center;
      padding-top: 50px;
      text-transform: uppercase;

      /* Extra Small Devices, Phones */
      @media only screen and (max-width : 480px) {
        margin: 0 0.5em;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .banner {
    margin: 0 3em;

    &__evlogo {
      width: 92%;
      margin-top: -9%;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .top-icons {
    display: none;
  }

  .banner {
    margin: 120px 0 0 0;

    &__evlogo {
      width: 92%;
    }
  }
}
