.top-icons {
  display: none;

  @media screen and (min-width: $md) {
    position: relative;
    display: block;

    &__icons {
      padding: 2em 3em;
    }

    &__social {
      position: absolute;
      top: 5%;
      width: 5em;
    }

    &__logo {
      position: absolute;
      top: 20%;
      right: 3%;
      width: 6.5em;
    }
  }
}

.banner {
  position: relative;

  &__dark {
    background-image: url(images/EB_After_Dark_banner.jpg);
    background-size: cover;
    background-position: top;
  }

  &__evlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 0;
    padding-top: 4.5em;

    @media screen and (min-width: $md) {
      width: 55%;
      margin-top: -9%;
      padding-top: 0;
    }
  }

  &__evlogo-small {
    margin-left: 15%;
    width: 70%;
    margin-top: 25%;

    @media screen and (min-width: $sm) {
      margin-left: 32%;
      width: 35%;
      margin-top: -4%;
    }

    @media screen and (min-width: $md) {
      // margin-top: 16%;
    }

    @media screen and (min-width: $mdl) {
      // margin-top: 9%;
    }
  }

  &__introdark {
    color: $color-white;
    font-family: Arvo;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1em;
    margin: 0 2em;

    @media screen and (min-width: $md) {
      margin: 0 3em;
    }
  }

  &__darksub {
    text-align: center;
    color: $color-white;
    font-family: Arvo;
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-bottom: 1em;
    margin: 0 0.5em;

    @media screen and (min-width: $md) {
      margin: 0 7em;
    }
  }

  &__intro {
    color: $color-text;
    font-family: Arvo;
    margin: 0 0.5em;

    @media screen and (min-width: $md) {
      margin: 0 3em;
    }
  }
}

.main {
  &__small {
    margin-bottom: 5em;
  }
}

