.mobile-menu {
  display: flex;
  position: fixed;
  background-color: rgba($color-white, 0.6);
  height: 65px;
  z-index: 2;
  margin: 0;
  width: 100%;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;

  @media screen and (min-width: $sm) {
    display: none;
  }
}

@keyframes bugfix {
  from {
    padding: 0;
  }

  to {
    padding: 0;
  }
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }

  to {
    padding: 0;
  }
}

#overlay-button {
  position: absolute;
  right: 2em;
  top: 2.3em;
  padding: 0;
  z-index: 5;
  cursor: pointer;
  user-select: none;

  span {
    height: 5px;
    width: 55px;
    border-radius: 2px;
    background-color: $color-blue;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;

    &:before {
      top: -14px;
      visibility: visible;
    }

    &:after {
      top: 14px;
    }

    &:before, &:after {
      height: 5px;
      width: 50px;
      border-radius: 2px;
      background-color: $color-blue;
      position: absolute;
      content: '';
      transition: all 0.2s ease-in-out;
    }
  }

  &:hover span,
  &:hover span:before,
  &:hover span:after {
    background-color: $color-blue;
  }
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
}

input[type=checkbox]:checked ~ #overlay-button {

  &:hover span, span {
    background: transparent;
  }

  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }

    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: $color-light-blue;
  z-index: 2;
  visibility: hidden;
  position: fixed;

  &.active {
    visibility: visible;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 3em 2.5em 0;
    list-style-type: none;

    @media screen and (min-width: $xs) {
      padding: 5em 2.5em 0;
    }
  }

  li {
    padding: 1em 0;

    @media screen and (min-width: $xs) {
      padding: 1.3em 0;
    }
  }

  a {
    @include font-size(26px, 20px, 2px);
    font-family: Arvo;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: white;

    @media screen and (min-width: $xs) {
      @include font-size(33px, 25px, 2px);
    }

    &:hover {
      color: $color-blue;
    }
  }
}

