.menu {
  display: none;

  @media screen and (min-width: $sm) {
    display: flex;
    padding-bottom: 2em;

    ul {
      list-style-type: none;
      display: flex;
      margin: 0 auto;
    }

    li a {
      @include font-size(12px, 12px, 0);
      color: $color-text;
      display: flex;
      padding: 36px 7px;
      font-family: Arvo;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: $color-blue;
        font-weight: 700;
      }
    }

    &__dark {
      li a {
        color: $color-white;
        text-decoration: none;
      }
    }
  }

  @media screen and (min-width: $md) {
    li a {
      @include font-size(18px, 12px, 0);
      padding: 40px 14px;
    }
  }
}

// .footer-menu {
//   position: absolute;
//   display: block;
//   padding-top: 20em;
//   text-align: center;
//   z-index: 10;
//   transform: translate(-50%);
//   margin: 0 50%;

//   @media screen and (min-width: $md) {
//     display: none;
//   }

//   ul {
//     list-style-type: none;
//     padding: 0 px;
//     display: inline;
//     justify-content: center;
//   }

//   li a {
//     color: $color-white;
//     display: block;
//     padding: 14px 26px;
//     font-family: Arvo;
//     font-weight: 400;
//     font-size: 19pt;
//     letter-spacing: 2px;
//     text-transform: uppercase;

//     @media screen and (min-width: $xs) {
//       padding: 14px 26px;
//       font-size: 19pt;
//     }

//     &:hover {
//       color: $color-light-blue;
//       font-weight: 700;
//       text-decoration: none;
//     }
//   }
// }

